/logs
/symfony/web/bundles/
/symfony/web/css/
/symfony/web/js/
/symfony/web/images/
/symfony/app/bootstrap.php.cache
/symfony/app/cache/*
/symfony/app/config/parameters.yml
/symfony/app/config/jwks/*
/symfony/app/logs/*
!/symfony/app/cache/.gitkeep
!/symfony/app/logs/.gitkeep
!/symfony/app/config/jwks/.gitkeep
/symfony/build/
/symfony/vendor/
/symfony/bin/
/symfony/composer.phar
/symfony/nbproject/
/symfony/.project
/symfony/.settings
/symfony/.buildpath
/symfony/app/check.php
/symfony/.vagrant
