/* IdCultura */

#lc-navbar {
    background-image: none;
    background-color: #F1F1F1;
    box-shadow: 0 0px 10px 0px #000;
}

#lc-navbar .btn-success {
    background-color: #00918C;
    border: none;
}

#lc-navbar .btn-success:hover {
    background-color: #074542;
    border: none;
}

#lc-navbar .brand a {
    background-image: url('../images/logo-header-mobile_black.png');
    background-size: 100%;
    width: 130px;
}
