

body {
  background-color: #FFF;
  background-image: url('../../images/ID_BG.svg');
  background-size: inherit;
}
.box .title {
  background-image: url('../../images/ID_TituloCaixa.png') !important;
  background-size: 100%;
}

.box {
  background: #EFEFEF;
}

.box form {
  border: solid 1px #F2F2F2;
}

.connect-box {
  border: solid 1px #F2F2F2;
}

.connect-box h3 {
  color: #000;
  text-shadow: none;
}

.lc-main-title h1, .lc-main-title h2 {
  text-shadow: none;
  color: #000;
}

.btn-success {
  background-color: #00918C;
  border: none;
}

.btn-success:hover {
  background-color: #074542;
  border: none;
}
